.module {
	&.count-down {
		position: relative;
		padding: 15px;
		border: 1px solid rgba($color-blue-light-1, .2);
		color: whitesmoke;
		height: 218px;
		text-align: center;

		img {
			width: 80px;
			display: block;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 25px;
		}

		span {
			color: white;
			text-align: center;
			font-family: 'Share Tech Mono', monospace;
			background-color: rgba(0,0,0,.2);
			padding: 20px 10px;
			font-size: 1.5em;
		}
	}
}