.module {
	&.count-down {
		position: relative;
		padding: 15px;
		border: 1px solid rgba($color-blue-light-1, .2);
		color: whitesmoke;
		height: 197px;
		text-align: center;

		img {
			width: 80px;
			display: block;
			margin-right: auto;
			margin-left: auto;
		}

		span {
			&.item {
				font-size: 1.5em;
				padding: 10px;
				border: 1px solid rgba(255,255,255,.1);
				display: inline-block;
				width: 33.333%;

				&.no-right-border {
					border-right: none;
				}

				&.no-left-border {
					border-left: none;
				}
			}
		}
	}
}